<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= product.name %></title>
</head>
<body>
    <h1>Edit a Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <label for="namelab">Product Name</label>
        <input type="text" name="name" placeholder="product name" id="namelab" value="<%= product.name %> ">
        <label for="pricelab">Product Price/Unit</label>
        <input type="number" name="price" placeholder="price" id="pricelab" value="<%= product.price %> ">
        <label for="categorylab">Product Category</label>
        <select name="category" id="categorylab">
            <option value="fruit" <%= product.category === 'fruit' ? 'selected':'' %> >fruit</option>
            <option value="vegetable" <%= product.category === 'vegetable' ? 'selected':'' %>>vegetable</option>
            <option value="dairy" <%= product.category === 'dairy' ? 'selected':'' %>>dairy</option>
        </select>
        <br>
        <button>Save Changes</button>

        <a href="/products">Home page</a>
        <a href="/products/<%= product._id %> ">Back to item</a>
    </form>
</body>
</html>